.done {
  text-decoration: line-through;
}

form {
  display: flex;
  gap: 16px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  align-items: center;
}

.task-content {
  width: 200px;
}

.task p {
  margin-bottom: 0px;
}
